


body{
    background: url(images/background.jpg) no-repeat center center fixed; 
    background-size: cover;
    
    font-family: 'Barriecito', cursive;  
}

#intro{
display:none
}

.title{
    color: rgb(248, 244, 244);
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    margin-bottom: 0;
    text-decoration: underline;
    
}
h2{
    color: rgb(247, 243, 243);
    font-weight: 900;
    text-align: center;
    line-height: 2em;
    
}
span{
    
    font-style: italic;
}

#board{
    display: none;
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
}


.box{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100px;
    width: 100px;
    float: left;
    
}
.box img {
    height: 100%;
    width: 100%;
    
}



.viking{
    display: none;
    width: 80%;
    height: 80%;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    transition: width 4s, height 4s, transform 4s;
    
}
.one{
    
    margin-left: -800px;
}
.two{
    margin-top: -500px;
    margin-left: -500px;
}
.three{
    margin-top: 200px;
    margin-left: -300px;
    width: 50%;
    height: 50%;
}
.win{
    display: none;
    opacity: 1;
    margin-top: 50px ;
}

#intro{
    display: none;
}
.audio{
    display: none;
}
.playBtn{
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 10px 30px;
    font-family: 'Barriecito', cursive;
}
.playBtnAgain{
    display: none;
    position: absolute;
    top: 25%;
    left: 60%;
    font-size: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 10px 30px;
    font-family: 'Barriecito', cursive;
}


.score{
    display: none;
    position: absolute;
    top: 25%;
    left: 1%;
    font-size: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 10px 30px;
    font-family: 'Barriecito', cursive;
}


@media(max-width: 480px){

    .title{
        /* display: none; */
        font-size: 50px;
        margin-left: -10%;
    }
    h2{
        /* display: none; */
        margin-top: 10%;
        font-size: 18px;
        padding: 10px;
        width: 285px;
    }
    .playBtn{
        /* display: none; */
        margin-top: 10%;
        margin-left: -25%;
    }
    #board{
        margin-top: -40%;
        width: 290px;
        height: 290px;
    }
    .box{
        
        height: 90px;
        width: 90px; 
    }
    .win{
        
        font-size: 40px;
        padding: 0 15%;
    }
    .playBtnAgain{
        font-size: 35px;
        margin-left: -43%;
        margin-top: 100%;
    }
    .score{
        font-size: 27px;
        margin-left: 15%;
        margin-top: 120%;
    }
    .viking{
        width: 80%;
        height: 80%;
        opacity: 0.5;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -300px;
        transition: width 4s, height 4s, transform 4s;
        
    }
    .one{
        margin-left: -10%;
    }
    .two{
        margin-top: 0;
        margin-left: -40%;
    }
    .three{
        margin-top: -50%;
        margin-left: -80%;
    }
    
}
