
html { 
    background: url(images/background.jpg) no-repeat center center fixed; 
    background-size: cover;
  }

body{
    
    font-family: 'Barriecito', cursive;  
}

.title{
    color: rgb(248, 244, 244);
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    margin-bottom: 0;
    text-decoration: underline;
    
}
h2{
    color: rgb(247, 243, 243);
    font-weight: 900;
    text-align: center;
    line-height: 2em;
    
}
span{
    
    font-style: italic;
}

#board{
    display: none;
    width: 320px;
    height: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
}


.box{
    background-color: rgba(0, 0, 0, 0.2);
    height: 100px;
    width: 100px;
    float: left;
    
}
.box img {
    height: 100%;
    width: 100%;
    
}



.viking{
    display: none;
    width: 80%;
    height: 80%;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    transition: width 4s, height 4s, transform 4s;
    
}
.one{
    
    margin-left: -800px;
}
.two{
    margin-top: -500px;
    margin-left: -500px;
}
.three{
    margin-top: 200px;
    margin-left: -300px;
    width: 50%;
    height: 50%;
}
.win{
    display: none;
    opacity: 1;
    margin-top: 50px ;
}

#intro{
    display: none;
}
.audio{
    display: none;
}
.playBtn{
    /* display: none; */
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 10px 30px;
    font-family: 'Barriecito', cursive;
}
.playBtnAgain{
    display: none;
    position: absolute;
    top: 25%;
    left: 35%;
    font-size: 80px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 10px 30px;
    font-family: 'Barriecito', cursive;
}

